{{ form_start(form, {attr: {"data-toggle":"validator"}}) }}
<div class="col-md-4">
    {{ form_row(form.personnelNumber) }}
    {{ form_row(form.service) }}
    {{ form_row(form.designation) }}
    {{ form_row(form.regiment) }}
    {{ form_row(form.trade) }}
    {{ form_row(form.name) }}
    {{ form_row(form.fathersName) }}
    {{ form_row(form.mothersName) }}
    {{ form_row(form.inheritor) }}

    {{ form_row(form.wifesName) }}
    {{ form_row(form.marriageDate) }}

    {{ form_row(form.children1Name) }}
    {{ form_row(form.children1Dob) }}
    {{ form_row(form.children1Type) }}

    {#<table class="table table-bordered">
        <tr>
            <th colspan="3">সন্তানাদির নাম ও বয়স</th>
        </tr>
        <tr>
            <th>নাম</th>
            <th>জন্ম তারিখ</th>
            <th>সম্পর্ক</th>
        </tr>
        <tr>
            <td>{{ form_widget(form.children2Name) }}</td>
            <td>{{ form_widget(form.children2Dob) }}</td>
            <td>{{ form_widget(form.children2Type) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.children3Name) }}</td>
            <td>{{ form_widget(form.children3Dob) }}</td>
            <td>{{ form_widget(form.children3Type) }}</td>
        </tr>
        <tr>
            <td>{{ form_widget(form.children4Name) }}</td>
            <td>{{ form_widget(form.children4Dob) }}</td>
            <td>{{ form_widget(form.children4Type) }}</td>
        </tr>
    </table>#}
</div>

<div class="col-md-4">

    {{ form_row(form.children2Name) }}
    {{ form_row(form.children2Dob) }}
    {{ form_row(form.children2Type) }}

    {{ form_row(form.children3Name) }}
    {{ form_row(form.children3Dob) }}
    {{ form_row(form.children3Type) }}

    {{ form_row(form.children4Name) }}
    {{ form_row(form.children4Dob) }}
    {{ form_row(form.children4Type) }}

    {{ form_row(form.village) }}
    {{ form_row(form.postOffice) }}
    {{ form_row(form.upazilla) }}
    {{ form_row(form.district) }}

</div>

<div class="col-md-4">
    {{ form_row(form.mobileNumber) }}
    {{ form_row(form.dateOfBirth) }}
    {{ form_row(form.joiningDate) }}
    {{ form_row(form.retirementDate) }}
    {{ form_row(form.retirementReason) }}
    {{ form_row(form.lastServedPlace) }}
    {{ form_row(form.lastServedUnit) }}
    {{ form_row(form.disciplineStatus) }}
    {{ form_row(form.education) }}
    {{ form_row(form.tsNumber) }}
    {{ form_row(form.nid) }}
    {{ form_row(form.reservistLastDate) }}
    {{ form_row(form.comments) }}
    <button style="width: 70%" type="button" class="btn pull-right btn-primary" value="Create" id="save">Save</button>
</div>
<div class="col-md-12">

</div>
{{ form_end(form) }}

{#
{% if delete_form is defined %}
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}
{% endif %}#}
