{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personnel edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}


{% endblock %}
