{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Entry List</h1>
    </div>

    {{ sg_datatables_render_html(datatable) }}

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    {{ sg_datatables_render_js(datatable) }}

{% endblock %}