{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal.twig' %}

{% block body %}
    <div class="page-header">
        <h4>{{ personnel.id ? "Entry Modify" : "New Entry" }}</h4>
    </div>

    <div class="row" style="margin-bottom: 20px">
        {% include 'personnel/_form.html.twig' %}
    </div>

{% endblock %}


{% block javascripts %}

    <script>
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;
                matches = [];
                substrRegex = new RegExp(q, 'i');
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });
                cb(matches);
            };
        };

        var typeaheadOption = {
            hint: true,
            highlight: true,
            minLength: 0
        };

        var invalidForm = true;
        jQuery(document).ready(function () {

            jQuery('#personnel_service').typeahead(typeaheadOption, {
                name: 'personnel_service',
                source: substringMatcher({{ autoCompleteData['service']|json_encode|raw }})
            });
            jQuery('#personnel_designation').typeahead(typeaheadOption, {
                name: 'personnel_designation',
                source: substringMatcher({{ autoCompleteData['rank']|json_encode|raw }})
            });
            jQuery('#personnel_regiment').typeahead(typeaheadOption, {
                name: 'personnel_regiment',
                source: substringMatcher({{ autoCompleteData['corp']|json_encode|raw }})
            });
            jQuery('#personnel_trade').typeahead(typeaheadOption, {
                name: 'personnel_trade',
                source: substringMatcher({{ autoCompleteData['trade']|json_encode|raw }})
            });
            jQuery('#personnel_retirementReason').typeahead(typeaheadOption, {
                name: 'personnel_retirementReason',
                source: substringMatcher({{ autoCompleteData['retirementReason']|json_encode|raw }})
            });
            jQuery('#personnel_education').typeahead(typeaheadOption, {
                name: 'personnel_education',
                source: substringMatcher({{ autoCompleteData['education']|json_encode|raw }})
            });
            jQuery('#personnel_inheritor').typeahead(typeaheadOption, {
                name: 'personnel_inheritor',
                source: substringMatcher({{ autoCompleteData['inheritor']|json_encode|raw }})
            });
            jQuery('#personnel_children1Type, #personnel_children2Type, #personnel_children3Type, #personnel_children4Type').typeahead(typeaheadOption, {
                name: 'personnel_children1Type',
                source: substringMatcher({{ autoCompleteData['children']|json_encode|raw }})
            });
            jQuery('#personnel_district').typeahead(typeaheadOption, {
                name: 'personnel_education',
                source: substringMatcher({{ autoCompleteData['district']|json_encode|raw }})
            });
            jQuery('#personnel_disciplineStatus').typeahead(typeaheadOption, {
                name: 'discipline',
                source: substringMatcher({{ autoCompleteData['discipline']|json_encode|raw }})
            });

            jQuery('#personnel_upazilla').typeahead(typeaheadOption, {
                name: 'personnel_upazilla',
                source: substringMatcher({{ autoCompleteData['upazilla']|json_encode|raw }})
            });

            $('#save').click(function () {
                if (formValidator.form()) {
                    $('[name=personnel]')[0].submit();
                }
            });

            jQuery.validator.setDefaults({
                submitHandler: function () {
                    alert("submitted!");
                }
            });

            jQuery.validator.addMethod("nid", function(value, element) {
                return this.optional(element) || (value.length === 13 || value.length === 17);
            }, "১৩ অথবা ১৭ টি অক্ষর লিখুন।");
            jQuery.validator.addMethod("mobileNo", function(value, element) {
                return this.optional(element) || (value.length === 11);
            }, "১১ অক্ষর লিখুন।");

            var formValidator = jQuery("[name=personnel]").validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: true,
                ignore: "",
                rules: {
                    'personnel[personnelNumber]': "required",
                    'personnel[name]': "required",
                    //'personnel[nid]': "nid",
                    //'personnel[mobileNumber]': "mobileNo"
                },
                messages: {
                    'personnel[personnelNumber]': "এই তথ্যটি আবশ্যক।",
                    'personnel[name]': "এই তথ্যটি আবশ্যক।"
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    if (element.attr("data-error-container")) {
                        var $errorPlacement = $(element.attr("data-error-container"));
                        error.insertAfter($errorPlacement);
                    }else if (element.attr("data-error-marker")) {
                        $(element.attr("data-error-marker")).html("");
                        error.insertAfter(element.attr("data-error-marker"));
                    } else if (element.parent(".input-group").size() > 0) {
                        error.insertAfter(element.parent(".input-group"));
                    } else if (element.parents('.radio-list').size() > 0) {
                        error.appendTo(element.parents('.radio-list').attr("data-error-container"));
                    } else if (element.parents('.radio-inline').size() > 0) {
                        error.appendTo(element.parents('.radio-inline').attr("data-error-container"));
                    } else if (element.parents('.checkbox-list').size() > 0) {
                        error.appendTo(element.parents('.checkbox-list').attr("data-error-container"));
                    } else if (element.parents('.checkbox-inline').size() > 0) {
                        error.appendTo(element.parents('.checkbox-inline').attr("data-error-container"));
                    } else {
                        error.insertAfter(element); // for other inputs, just perform default behavior
                    }
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight
                    $(element)
                        .closest('.form-group').find('.help-block-error').remove();
                    $(element)
                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
                },

                success: function (label) {
                    label
                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
                }
            });

        });
    </script>
{% endblock %}