{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personnel</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnel.id }}</td>
            </tr>
            <tr>
                <th>Dateofwedding</th>
                <td>{% if personnel.dateOfWedding %}{{ personnel.dateOfWedding|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ personnel.name }}</td>
            </tr>
            <tr>
                <th>Permanentdistrict</th>
                <td>{{ personnel.permanentDistrict }}</td>
            </tr>
            <tr>
                <th>Permanentupazila</th>
                <td>{{ personnel.permanentUpazila }}</td>
            </tr>
            <tr>
                <th>Permanentpostoffice</th>
                <td>{{ personnel.permanentPostOffice }}</td>
            </tr>
            <tr>
                <th>Permanentpostcode</th>
                <td>{{ personnel.permanentPostCode }}</td>
            </tr>
            <tr>
                <th>Permanentvillage</th>
                <td>{{ personnel.permanentVillage }}</td>
            </tr>
            <tr>
                <th>District</th>
                <td>{{ personnel.district }}</td>
            </tr>
            <tr>
                <th>Upazila</th>
                <td>{{ personnel.upazila }}</td>
            </tr>
            <tr>
                <th>Postoffice</th>
                <td>{{ personnel.postOffice }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ personnel.postCode }}</td>
            </tr>
            <tr>
                <th>Village</th>
                <td>{{ personnel.village }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ personnel.designation }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ personnel.nationality }}</td>
            </tr>
            <tr>
                <th>Identificationmark</th>
                <td>{{ personnel.identificationMark }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ personnel.gender }}</td>
            </tr>
            <tr>
                <th>Mobilenumber</th>
                <td>{{ personnel.mobileNumber }}</td>
            </tr>
            <tr>
                <th>Telephonenumber</th>
                <td>{{ personnel.telephoneNumber }}</td>
            </tr>
            <tr>
                <th>Nid</th>
                <td>{{ personnel.nid }}</td>
            </tr>
            <tr>
                <th>Smartcardno</th>
                <td>{{ personnel.smartCardNo }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{% if personnel.dateOfBirth %}{{ personnel.dateOfBirth|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fathersname</th>
                <td>{{ personnel.fathersName }}</td>
            </tr>
            <tr>
                <th>Mothersname</th>
                <td>{{ personnel.mothersName }}</td>
            </tr>
            <tr>
                <th>Fathersoccupation</th>
                <td>{{ personnel.fathersOccupation }}</td>
            </tr>
            <tr>
                <th>Mothersoccupation</th>
                <td>{{ personnel.mothersOccupation }}</td>
            </tr>
            <tr>
                <th>Fathersaddress</th>
                <td>{{ personnel.fathersAddress }}</td>
            </tr>
            <tr>
                <th>Mothersaddress</th>
                <td>{{ personnel.mothersAddress }}</td>
            </tr>
            <tr>
                <th>Fathersmobilenumber</th>
                <td>{{ personnel.fathersMobileNumber }}</td>
            </tr>
            <tr>
                <th>Mothersmobilenumber</th>
                <td>{{ personnel.mothersMobileNumber }}</td>
            </tr>
            <tr>
                <th>Fathersnokpercentage</th>
                <td>{{ personnel.fathersNokPercentage }}</td>
            </tr>
            <tr>
                <th>Mothersnokpercentage</th>
                <td>{{ personnel.mothersNokPercentage }}</td>
            </tr>
            <tr>
                <th>Regimentalnumber</th>
                <td>{{ personnel.regimentalNumber }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ personnel.service }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ personnel.rank }}</td>
            </tr>
            <tr>
                <th>Corp</th>
                <td>{{ personnel.corp }}</td>
            </tr>
            <tr>
                <th>Afterretirementcityorvillage</th>
                <td>{% if personnel.afterRetirementCityOrVillage %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Afterretirementlivingnature</th>
                <td>{{ personnel.afterRetirementLivingNature }}</td>
            </tr>
            <tr>
                <th>Afterretirementplantingland</th>
                <td>{{ personnel.afterRetirementPlantingLand }}</td>
            </tr>
            <tr>
                <th>Afterretirementsourceofincome</th>
                <td>{{ personnel.afterRetirementSourceOfIncome }}</td>
            </tr>
            <tr>
                <th>Deceaseddate</th>
                <td>{% if personnel.deceasedDate %}{{ personnel.deceasedDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Disabled</th>
                <td>{% if personnel.disabled %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Disabilityreason</th>
                <td>{{ personnel.disabilityReason }}</td>
            </tr>
            <tr>
                <th>Unmission</th>
                <td>{% if personnel.unMission %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Freedomfighter</th>
                <td>{% if personnel.freedomFighter %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Deceasedplace</th>
                <td>{{ personnel.deceasedPlace }}</td>
            </tr>
            <tr>
                <th>Reemployment</th>
                <td>{{ personnel.reEmployment }}</td>
            </tr>
            <tr>
                <th>Deceasedreason</th>
                <td>{{ personnel.deceasedReason }}</td>
            </tr>
            <tr>
                <th>Tsnumber</th>
                <td>{{ personnel.tsNumber }}</td>
            </tr>
            <tr>
                <th>Trade</th>
                <td>{{ personnel.trade }}</td>
            </tr>
            <tr>
                <th>Emergencyname</th>
                <td>{{ personnel.emergencyName }}</td>
            </tr>
            <tr>
                <th>Emergencyrelation</th>
                <td>{{ personnel.emergencyRelation }}</td>
            </tr>
            <tr>
                <th>Emergencynumber</th>
                <td>{{ personnel.emergencyNumber }}</td>
            </tr>
            <tr>
                <th>Emergencyaddress</th>
                <td>{{ personnel.emergencyAddress }}</td>
            </tr>
            <tr>
                <th>Disciplinestatus</th>
                <td>{{ personnel.disciplineStatus }}</td>
            </tr>
            <tr>
                <th>Reservistlastdate</th>
                <td>{% if personnel.reservistLastDate %}{{ personnel.reservistLastDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>{{ personnel.remarks }}</td>
            </tr>
            <tr>
                <th>Pensionrate</th>
                <td>{{ personnel.pensionRate }}</td>
            </tr>
            <tr>
                <th>Retirementdate</th>
                <td>{% if personnel.retirementDate %}{{ personnel.retirementDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Retirementreason</th>
                <td>{{ personnel.retirementReason }}</td>
            </tr>
            <tr>
                <th>Additionalinfo</th>
                <td>{{ personnel.additionalInfo }}</td>
            </tr>
            <tr>
                <th>Lastservedunit</th>
                <td>{{ personnel.lastServedUnit }}</td>
            </tr>
            <tr>
                <th>Identitynumber</th>
                <td>{{ personnel.identityNumber }}</td>
            </tr>
            <tr>
                <th>Joiningdate</th>
                <td>{% if personnel.joiningDate %}{{ personnel.joiningDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Joiningplace</th>
                <td>{{ personnel.joiningPlace }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('personnel_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('personnel_edit', { 'id': personnel.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
