<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/datatables.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-select.min.css') }}" />
        <style>
            .page-header{
                margin-top: 0;
                padding: 0;
            }

            .twitter-typeahead{
                display: block !important;
            }
            .typeahead,
            .tt-query,
            .tt-hint {
                outline: none;
            }

            .typeahead {
                background-color: #fff;
            }

            .typeahead:focus {
                border: 2px solid #0097cf;
            }

            .tt-query {
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            }

            .tt-hint {
                color: #999
            }

            .tt-menu {
                width: 422px;
                margin: 12px 0;
                padding: 8px 0;
                background-color: #fff;
                border: 1px solid #ccc;
                border: 1px solid rgba(0, 0, 0, 0.2);
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                border-radius: 8px;
                -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
                box-shadow: 0 5px 10px rgba(0,0,0,.2);
            }

            .tt-suggestion {
                padding: 3px 20px;
                font-size: 18px;
                line-height: 24px;
            }

            .tt-suggestion:hover {
                cursor: pointer;
                color: #fff;
                background-color: #0097cf;
            }

            .tt-suggestion.tt-cursor {
                color: #fff;
                background-color: #0097cf;

            }

            .tt-suggestion p {
                margin: 0;
            }

            .gist {
                font-size: 14px;
            }

            .form-horizontal .control-label {
                text-align: left;
                font-size: 13px;
                padding: 5px 0 0 5px;
            }
            .form-control{
                height: 22px;
                padding: 0 4px;
                line-height: 1;
            }
            .help-block{
                margin-bottom: 0;
            }
            /*[name$=Dob\]] {
                width: 85px;
            }
            [name$=Type\]] {
                width: 60px;
            }*/
            .bootstrap-select button.btn {
                padding: 1px 25px 1px 6px;
            }
            .navbar-fixed-bottom, .navbar-fixed-top{
                position: absolute;
            }
            .form-group{
                margin-bottom: 10px;
            }

            .bootstrap-select .btn-default{
                background: none;
            }
        </style>
    </head>
    <body>

    <!-- Fixed navbar -->

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">BASB Data Entry</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('personnel_index') }}">Entries</a></li>
                        {% if not is_granted("ROLE_QC") %}
                        <li><a href="{{ path('personnel_new') }}">New Entry</a></li>
                        {% endif %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="javascript:;">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

    {% endif %}

    <div class="container-fluid theme-showcase" role="main" style="margin-top: 60px">

        {% block body %} {% endblock %}

    </div> <!-- /container -->

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/typeahead.bundle.js') }}"></script>
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('js/additional-methods.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    {#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
    {#<script src="{{ path('fos_js_routing_js') }}"></script>#}
    {#<script src="{{ asset('js/mousetrap.min.js') }}"></script>#}
    {#<script>#}
        {#Mousetrap.bind('alt+s', function(e) {#}
            {#if ($('form[name=personnel]').length) {#}
                {#$('[name=personnel]')[0].submit();#}
                {#console.log('save');#}
            {#}#}
            {#return false;#}
        {#});#}

        {#Mousetrap.bind('alt+n', function(e) {#}
            {#window.location.href = Routing.generate('personnel_new');#}
            {#return false;#}
        {#});#}
    {#</script>#}
    {% block javascripts %}{% endblock %}
    </body>
</html>
