{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" style="margin-top: 50px">
            <div id="welcome">
                <h1><span>Welcome to</span> BASB Data Entry Tool</h1>
            </div>

            {% if is_granted('ROLE_ADMIN') %}

                <div class="col-md-4">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            {% for user in users %}
                                <th>{{ user.username }}</th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set userTotal = [] %}
                        {% set grandTotal = 0 %}
                        {% for date, usernames in statistics %}


                            {% set dayTotal = 0 %}
                            <tr>
                                <td>{{ date }}</td>
                                {% for user in users %}
                                    {% if usernames[user.username] is defined %}
                                        {% set dayTotal = dayTotal + usernames[user.username] %}
                                        {% set tempVal = userTotal[user.username] is defined ? (userTotal[user.username] + usernames[user.username]) : usernames[user.username] + 0 %}
                                        {% set userTotal = userTotal|merge({(user.username): tempVal}) %}

                                        <td>{{ usernames[user.username] }}</td>
                                    {% else %}
                                        <td>0</td>
                                    {% endif %}
                                {% endfor %}
                                {% set grandTotal = grandTotal + dayTotal %}
                                <th>{{ dayTotal }}</th>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th></th>
                            {% for user in users %}
                                <th>{{ userTotal[user.username] is defined ? userTotal[user.username] : '0' }}</th>
                            {% endfor %}
                            <th>{{ grandTotal }}</th>
                        </tr>
                        </tfoot>

                    </table>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
